.header_container {
    margin-bottom: 30px;
    max-width: 1410px;
    margin: 0 auto;
    box-shadow: 0px 1px 10px 2px rgb(180, 165, 165);
    border-radius: 0 0 5px 5px;
    background-color: #add5f84d;
}
.header_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header_content_logo {
    margin-left: calc(32px + 30 * ((100vw - 320px) / (1410 - 320)));
}
.header_content_logo img {
    width: 80px;
}
.header_content_navigation {
    width: 500px;
    max-width: 500px;
}
.header_content_list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media only screen and (max-width: 650px) {
        display: none;
    }
}
.header_content_link {
    display: flex;
    align-items: center;
    list-style-type: none;
    font-size: calc(17px + 5 * ((100vw - 320px) / (1410 - 320)));
    font-weight: 500;
}
.icon_arrow {
    display: inline-block;
    width: 15px;
    height: 15px;
    padding-top: 4px;
    margin-left: 5px;
}
.header_content_search_container {
    position: relative;
}
.header_content_search_container input {
    max-width: calc(112px + 100 * ((100vw - 620px) / (1410 - 620)));
    padding: 10px;
    border-radius: 6px;
    outline: none;
    color: gray;
    font-size: 15px;
    border: none;
    /*border: 1px solid rgb(199, 185, 185);*/
    background-color: #ade2f8fe;

    @media only screen and (max-width: 930px) {
        display: none;
    }
}
.header_content_search_container button {
    position: absolute;
    right: 7px;
    top: 10.5px;
    padding: 10px;

    border-radius: 6px;
    outline: none;
    color: gray;
    /*border: 1px solid rgb(199, 185, 185);*/
    border: none;
    cursor: pointer;
    background-image: url("./search.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    @media only screen and (max-width: 930px) {
        display: none;
    }
}
.header_content_authorization {
    padding: 20px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 2px solid rgb(27, 122, 162);
    margin-right: 20px;
    background-color: rgba(189, 242, 248, 0.225);
}
.header_content_authorization img {
    width: 20px;
    transform: rotate(0deg);
    transition: 0.8s;
}

.active {
    color: blue;
    font-weight: 600;
}
.active + img {
    transform: rotate(90deg);
    transition: 0.8s;
}
