*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: black;
}
#root{
    background: url("./5.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /*background-color: white;*/
    max-width: 1920px;
    margin: 0 auto;
    font-family: Roboto;
    /*background: linear-gradient(180deg, #03a9f475, transparent);*/
}